.l-sidebar-social-buttons
  = link_to t('email.social_button', network: 'Facebook'), 'https://fb.me/nama.coop', class: 'Button'
  = link_to t('email.social_button', network: 'Instagram'), 'https://instagram.com/nama.coop', class: 'Button'
